.footer {
  padding: 56px 0;
  position: relative;
  background-color: var(--color-primary-dark);

  &::after {
    content: '';
    position: absolute;
    bottom: -61px;
    right: -32px;
    background-image: url(../images/pexels.png);
    width: 278px;
    height: 213px;
    background-repeat: no-repeat;
  }

  &__container {
    display: flex;
    gap: 24px;
  }

  &__nav,
  &__address {
    display: flex;
    gap: 24px;
    flex-basis: 50%;
  }

  &__nav-logo,
  &__nav-menu,
  &__address-list,
  &__address-info {
    flex-grow: 1;
  }

  &__social-networks-bloc {
    display: flex;
    gap: 24px;
    fill: var(--color-primary-white);
  }

  &__address-copyright {
    color: #747272;
    font-size: 13px;
  }
}
