.reincarnation-section {
  padding-bottom: 128px;

  &__container {
    display: flex;
    align-items: flex-start;
    gap: 32px;
  }

  &__texts-bloc {
    margin-top: 40px;
    width: 100%;
    max-width: 709px;
  }

  &__text-title {
    margin-bottom: 40px;
  }

  &__text {
    font-size: 22px;
    line-height: 1.72;
  }

  &__paragraph {
    margin-bottom: 40px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__images-bloc {
    position: relative;
    width: 100%;
    max-width: 531px;
    height: 695px;
  }

  &__image {
    position: absolute;
    border-radius: 50%;
  }

  &__image-bottom {
    bottom: 0;
    right: 0;
  }
}
