.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;

  @media screen and (max-width: $bp-tablet) {
    display: none;
  }

  &__button {
    width: 12px;
    height: 12px;
    padding: 0;
    background: #747272;
    border-radius: 50%;
  }
}
