.star-1 {
  position: absolute;
  top: 336px;
  right: 294px;
  fill: #011f4a;
}

.star-1:hover {
  animation-name: star-decrease;
  animation-duration: 3s;
}

@keyframes star-decrease {
  0% {
    transform: scale(1) rotate(0);
  }

  50% {
    transform: scale(0.7) rotate(45deg);
  }

  100% {
    transform: scale(1) rotate(0);
  }
}

.star-2 {
  position: absolute;
  top: 32px;
  right: -20px;
  fill: var(--color-primary-light);
  transform: rotate(60deg);
}

.star-2:hover {
  animation-name: star-increase;
  animation-duration: 3s;
}

@keyframes star-increase {
  0% {
    transform: scale(1) rotate(0);
  }

  50% {
    transform: scale(1.3) rotate(180deg);
  }

  100% {
    transform: scale(1) rotate(0);
  }
}

.star-3 {
  position: absolute;
  top: 269px;
  right: 6px;
  fill: #747272;
}

.star-3:hover {
  animation-name: star-displacement;
  animation-duration: 3s;
}

@keyframes star-displacement {
  0% {
    transform: scale(1);
    fill: #747272;
  }

  50% {
    transform: scale(7);
    fill: red;
  }

  100% {
    transform: scale(1);
    fill: #747272;
  }
}
